//colors
$colors: (
  'primary': #db9e3f,
  'info': #4b67af,
  'white': #fff,
  'light': #f9f9f9,
  'black': #000,
  'dark': #222,
  'dark-1': #343440,
  'grey': #999,
);

//font-size
$base-font-size: 1rem;
$font-sizes: (
  xxs: 0.615,  //option + d
  xs: 0.769,  //10px
  sm: 0.923,  //12px
  md: 1,  //13px
  lg: 1.077,  //14px
  lx: 1.231,  //16px
);

$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);

$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);

//spacing
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);